*
{
	padding: 0;
	margin: 0;
	font-family: 'Epilogue', sans-serif;
}
.line
{
	border-top-style: solid;
	border-left-style: solid;
	border-width: 2px;
	height: 59px;
	transition: .3s;
}
img
{
	height: 20px;
	float: right;
}
nav
{
	background-color: #353a40;
	height: 60px;
	display: flex;
	align-items: center;
 	justify-content:space-between; 
 	padding: 0 20px;
}
nav ul
{
	display: flex;
	list-style: none;

}
nav ul li a
{
	padding: 0 10px;
	color:#7C8080;
	text-decoration: none;
}
nav .logo
{
	color: #fff;
	font-size: 20px;
}
nav ul li:hover a
{
	color: #FFF;
	transition: .3s;
}
.nav, #check, img
{
	display: none;
}
.content
{
	padding: 10px 0;
	text-align: justify;
}.nav ul li:hover a
	{
		color: #FFF;
		transition: .3s;
	}
@media(max-width: 985px)
{
	nav ul
	{
		display: none;
	}
	.nav, img
	{
		display: block;
	}
	.nav
	{
		background-color: #353a40;
		padding:10px 0; 
		margin-bottom:10px; 
	}
	.nav ul li
	{
		padding: 5px 20px;
	}
	.nav ul li a
	{
		color:#7C8080;
		text-decoration:none; 
	}
	#check:checked ~ .content
	{
		top: 50px;
		transition: .3s;
	}
	.content
	{
		position: absolute;
		top: -80px;
		z-index: -1;
		text-align: justify;
		transition: .3s;
	}
	.content ul li:hover a
	{
		color: #FFF;
		transition: .3s;
	}
.line
{
	border-top-style: solid;
	border-left-style: solid;
	border-width: 7px;
	height: 599px;
	transition: .3s;
}
}
